node_modules/
.env
.env.*
# Build files
build/
dist/
# Log + random output files
log/
out/
# Local scripts used for development
adhoc/
# Test coverage
coverage/
# IDE config
.vscode/
# DS_AnnoyingAsFuck_Store
.DS_Store
# Local scripts used for development
adhoc/
